$tileSize: 100px;

.board {
  display: flex;
  background-color: black;
  max-width: 306px;
}

button {
  min-width: $tileSize;
  max-width: $tileSize;
  min-height: $tileSize;
  max-height: $tileSize;

  margin: 1px;
}
