.selectionDiv {
    display: flex;
    height: 100%;
    justify-content: center;
}

form {
    align-self: center;
    
    mat-form-field {
        width: 100%;

        input {
            text-transform: uppercase;
        }
    }

    button {
        width: 100%;
    }
}