<div class="listContainer">
  <mat-table [dataSource]="gameList" class="mat-elevation-z8 listElement">
    <div matColumnDef="name">
      <mat-header-cell *matHeaderCellDef class="col">Room name</mat-header-cell>
      <mat-cell *matCellDef="let room" class="col"> {{room.name}} </mat-cell>
    </div>

    <div matColumnDef="count">
      <mat-header-cell *matHeaderCellDef class="col">Player count</mat-header-cell>
      <mat-cell *matCellDef="let room" class="col"> {{room.players.length}} / 2 </mat-cell>
    </div>

    <div matColumnDef="action">
      <mat-header-cell *matHeaderCellDef class="actionCol">
        <button mat-icon-button (click)="createGame()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-header-cell>
      <mat-cell *matCellDef="let room" class="actionCol">
        <button mat-icon-button color="primary" [disabled]="isJoinDisabled(room)" (click)="joinGame(room.name)">
          <mat-icon>play_arrow</mat-icon>
        </button>
      </mat-cell>
    </div>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <div *ngIf="gameList.length === 0" class="noRooms mat-elevation-z8">No games found.</div>
</div>
