.listContainer {
    height: 100%;
    display: flex;
    justify-content: center;
}

mat-table {
    min-width: 40%;
    align-self: center;
}

.col {
  min-width: 42.5%;
}

.actionCol {
  min-width: 10%;
}

.noRooms {
  display: flex;
  min-width: 40%;
  align-self: center;
}
